---
import Layout from '../layouts/PageContent.astro';

---

<Layout
	title="About Me"
	description="profile"
	pubDate={new Date('August 08 2023')}
	updatedDate={new Date('August 08 2023')}
	heroImage="/murmur/placeholder-about.jpg"
>
	<p>
		I'm yulily, who engineers while drawing pictures.
	</p>
	<a class="twitter-timeline" data-lang="en" data-width="400" data-height="500" data-theme="dark" href="https://twitter.com/shiriit_?ref_src=twsrc%5Etfw">Tweets by shiriit_</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</Layout>
