---
import Layout from '../layouts/PageContent.astro';

---

<Layout
	title="About Me"
	description="profile"
	pubDate={new Date('August 08 2023')}
	updatedDate={new Date('August 08 2023')}
	heroImage="/murmur/placeholder-about.jpg"
>
	<dl>
		<dt>name:</dt>
		<dd>yulily</dd>
		<dt>job:</dt>
		<dd>Engineer</dd>
		<dt>Language</dt>
		<dd>PHP, Ruby, JavaScript, Java</dd>
		<dt>Database</dt>
		<dd>MySQL</dd>
		<dt>Infrastructure</dt>
		<dd>Terraform, Ansible</dd>
		<dt>CI/CD tool</dt>
		<dd>Jenkins, GitHub Actions</dd>
		<dt>Cloud platform</dt>
		<dd>AWS</dd>
		<dt>Operating system</dt>
		<dd>Linux, Windows Server</dd>
	</dl>
	<p>たまに絵を描くエンジニア</p>
	<p>2012〜 Web制作 / フロントエンドエンジニア / サーバーサイドエンジニア</p>
	<p>2014〜 オンラインゲーム開発 / サーバーサイドエンジニア</p>
	<p>2023〜 Web開発 / Webアプリケーションエンジニア</p>
</Layout>
<style>
dl {
  display: flex;
  flex-wrap: wrap;
}
dd, dt {
	margin: 0 0 .5em;
	padding: 1%;
}
dl dt {
  width: 40%;
  background-color: rgba(255, 255, 255, .3);
  text-align: right;
}
dl dd {
  width: 55%;
}
</style>