---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy Policy"
	description="Privacy Policy"
	pubDate={new Date('Mar 23 2023')}
	updatedDate={new Date('Mar 23 2023')}
	heroImage="/placeholder-about.jpg"
>
	<p>
		(´･_･`)
	</p>
</Layout>
