---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
    <h2>
		<a href="/murmur/">{SITE_TITLE}</a>
	</h2>
	<nav>
		<ul>
			<HeaderLink href="/murmur/about">About</HeaderLink>
			<HeaderLink href="/murmur/blog">Blog</HeaderLink>
			<HeaderLink href="/murmur/privacy_policy">Privacy Policy</HeaderLink>
			<HeaderLink href="https://twitter.com/shiriit_" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/yulily" target="_blank">GitHub</HeaderLink>
		</ul>
	</nav>
</header>
<style>
	header {
		margin: 0em 0 1em;
	}
	ul {
		margin: 0;
		padding: 0;
	}
	a {
		background: none;
	}
	a:hover {
		background: none;
	}
</style>
