---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<li>
	<a href={href} class:list={[className, { active: isActive  }]} {...props}>
		<slot />
	</a>
</li>

<style>
	li {
		display: inline-block;
	}
	li a {
		padding: .2em .5em;
	}
	li a.active {
		text-decoration: underline;
		background-color: rgba(255, 255, 255, .2);
	}
</style>
